/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, picture {
  width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center {
  margin-inline: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-center {
  text-align: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.img-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.screenreader-text {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
}

.screenreader-text:focus {
  display: inline-block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
}

body {
  padding: 1rem;
  font-family: "Rubik", sans-serif;
  background-color: #0f1424;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h2 {
  font-size: 1.125rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
}

main {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: minmax(343px, 670px);
      grid-template-columns: minmax(343px, 670px);
  -ms-grid-rows: 203px;
      grid-template-rows: 203px;
  grid-auto-rows: 160px;
  gap: 1rem;
}

.profile {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1.5rem;
  background-color: #5847eb;
  border-radius: 1rem;
}

.profile img {
  width: 64px;
}

.profile p {
  font-size: 18px;
  font-weight: 300;
}

.profile h1 {
  font-size: 15px;
  color: #bdc1ff;
}

.info p {
  font-size: 24px;
}

.filter {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #6f76c8;
}

.filter p {
  cursor: pointer;
}

.filter p:hover {
  color: white;
}

.filter p:active {
  color: #6f76c8;
}

.container {
  background-color: #1c1f4a;
  border-radius: 1rem;
  position: relative;
}

.content {
  z-index: 1;
  width: 100%;
  border-radius: 1rem;
  padding: 1.5rem;
  position: absolute;
  bottom: 0;
  background-color: #1c1f4a;
  cursor: pointer;
}

.content:hover {
  background-color: #333a8a;
}

.work {
  background-color: #ff8c66;
  position: relative;
  overflow: hidden;
}

.work::after {
  content: ' ';
  background-image: url(../images/icon-work.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -10px;
  right: 1rem;
  width: 80px;
  height: 100%;
}

.play {
  background-color: #56c2e6;
  position: relative;
  overflow: hidden;
}

.play::after {
  content: ' ';
  background-image: url(../images/icon-play.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -10px;
  right: 1rem;
  width: 80px;
  height: 100%;
}

.study {
  background-color: #ff5c7c;
  position: relative;
  overflow: hidden;
}

.study::after {
  content: ' ';
  background-image: url(../images/icon-study.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -10px;
  right: 1rem;
  width: 80px;
  height: 100%;
}

.exercise {
  background-color: #4acf81;
  position: relative;
  overflow: hidden;
}

.exercise::after {
  content: ' ';
  background-image: url(../images/icon-exercise.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -10px;
  right: 1rem;
  width: 80px;
  height: 100%;
}

.social {
  background-color: #7536d3;
  position: relative;
  overflow: hidden;
}

.social::after {
  content: ' ';
  background-image: url(../images/icon-social.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -10px;
  right: 1rem;
  width: 80px;
  height: 100%;
}

.self-care {
  background-color: #f1c65b;
  position: relative;
  overflow: hidden;
}

.self-care::after {
  content: ' ';
  background-image: url(../images/icon-self-care.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -10px;
  right: 1rem;
  width: 80px;
  height: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .3rem;
  cursor: pointer;
}

.dots:hover .circle {
  background-color: white;
}

.dots:active .circle {
  background-color: #6f76c8;
}

.circle {
  width: 6px;
  height: 6px;
  background-color: #6f76c8;
  border-radius: 50%;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats p {
  color: #bdc1ff;
}

.daily {
  display: none;
}

.weekly {
  display: none;
}

@media screen and (min-width: 1200px) {
  main {
    -ms-grid-columns: (255px)[4];
        grid-template-columns: repeat(4, 255px);
    -ms-grid-rows: 244px 244px;
        grid-template-rows: 244px 244px;
  }
  .user {
    grid-row: span 2;
  }
  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .profile p {
    font-size: 40px;
  }
  .profile .info {
    margin: 2rem 0;
  }
  .filter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-top: 1rem;
  }
  .stats h3 {
    font-size: 56px;
  }
}
/*# sourceMappingURL=main.css.map */